.form {
    width: 100%;
    background: #333333;  
    color: #dbdbdb;
    padding: 15px 50px;
}

label {
    min-width: 50px;
}  
input {
    height: 25px;
    background: #111111;
    color: #dbdbdb;
    padding: 0 10px;
    border: none;
    outline: none;
}

.map-title {
    padding: 5px 0;

    input {
        width: 250px;
        height: 40px;
        font-size: 24px;
    }
}

button {
    outline: none;
    border: 1px solid;
}

._md-btn {
    width: 150px;
    height: 40px;

}
.tile-category {
    min-width: 100px;
    padding: 5px 15px;
    position: relative;

    .tile-category-name {
        padding: 5px 0;
    }
}
.tile:hover {
    border: 1px solid #dbdbdb;
}
.tile.active {
    border: 1px solid #dbdbdb;
}

._flex { display: flex; }
._flex-r { flex-direction: row; }
._flex-c { flex-direction: column; }
._al-c { align-items: center; }
._jc-sb { justify-content: space-between; }
._jc-sa { justify-content: space-around; }

._pb-5 { padding-bottom: 5px; }
._mb-5 { margin-bottom: 5px; }