<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../public/css/main.css">

	<title>Rouge Lite</title>
</head>

<body>
	<div class="page-wrapper">
		<main class="page-content">
			<div id="game" class="game">
				<div id="scene" class="scene">
					<div id="map-layout" class="map-layout">
						<a href="constructor.html">Scene builder</a>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>